* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
}

body {
  background: #ebf2f5;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong{
  font-weight: 500;
}

button {
  cursor: pointer;
}


span {
  display: block;
}
